<main role="main">
<!-- This is the post loop - each post will be output using this markup -->
  {{#foreach posts}}
  <article class="{{post_class}}">
    <header class="post-header">
      <h2><a href="{{url}}">{{title}}</a></h2>
    </header>
    <section class="post-excerpt">
      <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
    </section>
    <footer class="post-meta">
      {{#if author.image}}<img src="{{author.image}}" alt="Author image" />{{/if}}
      {{author}}
      {{tags prefix=" on "}}
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
  </article>
  {{/foreach}}

</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}