<!--{{! Search with Ghosthunter plugin https://github.com/jamalneufeld/ghostHunter}}
 For the moment, searching this blog is a bit hit-or-miss. I'm waiting on the <a href="https://github.com/TryGhost/Ghost/issues/5321">Ghost dev community</a> to fix it (and in fact, they are still looking for help), but for now, you can search the more recent blog post titles and post descriptions with the little form below. If you need more searching, checking out some of the more popular <a href="/topics">tags/topics</a> might help.<br>Thanks so much to <a href="https://github.com/jamalneufeld/ghostHunter">Jamal</a> for this little hack!  
 <br>
 <div class="text-center">
  <form>
   <input id="search-field" />
   <input type="submit" value="search">
  </form>
 </div>
 <section id="results"><hr></section>
-->