<div class="post-meta">
    Share this on <a href="https://twitter.com/share" class="twitter-share-button" data-via="gersandelf">Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> <div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div> or <a class="tumblr-share-button" data-color="white" data-notes="right" href="https://embed.tumblr.com/share">Tumblr</a> 
<script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>.
</div>
