@font-face {
  font-family: 'hobbitfont';
  src: url('../fonts/bilboregular.ttf');  }

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		-ms-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		-ms-transform:none;
		transform: none;
	}
}
body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-weight:300;
	cursor:default;
	font-size: 16px;
}

a {
	color: #8092eb;
}

a:hover {
	text-decoration: none !important;
	color: #556bda;
}

a:active, a:visited {
	text-decoration: none !important;
	color: #8092eb;
}

/* Outer Shell */
.main-section-including-nav {
	
}

#top > div.main-section-including-nav > div.sidebar-grimmoire > div > div.title-container {
	margin-bottom: 20px;
	padding-bottom: 20px;
	background-color: #000000;
	background: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: -o-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: -ms-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: -moz-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
}

.avi {}

.gersandefancy {
	width: 185px;
	height: 108px;
}

.site-description {
	color: rgba(255, 255, 255, 0.8);
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Ghost navigation */

#top > div.main-section-including-nav > div.sidebar-grimmoire > div > div > ul {
	display: inline-block;
	padding-left: 0px;
	margin-left: -5px;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

#top > div.main-section-including-nav > div.sidebar-grimmoire > div > div > ul > li.nav-current {
	font-weight: 400;
}

#top > div.main-section-including-nav > div.sidebar-grimmoire > div > div > ul > li {
	display: inline-block;
	padding-left: 0px;
	margin-left: -5px;
	list-style-type: none;
}

#top > div.main-section-including-nav > div.sidebar-grimmoire > div > div > ul > li > a {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	-webkit-font-smoothing:antialiased; 
	font-size: 21px;
}

.sidebar-grimmoire {
	
}

/* End Ghost navigation CSS */


/* Excerpts */

#top > div.main-section-including-nav > div.main-section > article.excerpt > div.container {
	width: 980px;
	margin-bottom: 80px;
	margin-top: 5px;
}

#top > div.main-section-including-nav > div.main-section > article.excerpt > div > div.title.animated.fadeInUp {
	text-align: center;
}

#top > div.main-section-including-nav > div.main-section > article.excerpt > div > section {
	text-align: center;
}

#top > div.main-section-including-nav > div.main-section > article.excerpt > div.container > img,
#top > div.main-section-including-nav > div.main-section > article.excerpt > div.container > div:nth-child(1) {
	height: 350px;
	background-size: cover;
}

#top > div.main-section-including-nav > div.main-section > article.excerpt > div > p {
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 15px;
	padding-top: 15px;
}

/* End of Excerpts*/

@media (max-width: 1200px) {
	.meta time, .published, .tags, .tags a, .meta .separator {
		display: inline-block;
	}
	.hide-until-small {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 992px) {
	.container, .pagination {
		width:auto;
		display: block;
		max-width:650px;
		padding:0 8%;
	}
	.sidebar {
		position:static;
		top:0;
		left:0;
		width:auto;
	}
	.navigation-panel {
		position: relative;
		margin-left: 0px !important;
		padding: 10px;
		text-align: center;
	}
	.content {
		margin-left:20px;
	}
	.title h1 {
		margin:0;
		font-size:49px;
		line-height:54px;
	}
	.title {
		width:90%;
	}
	header .container {
		padding-top:120px;
		padding-bottom:240px;
	}
	.meta a:after {
		content:",";
		margin-right: 4px;
	}
	.meta a:last-child:after {
		content:"";
	}
	.meta strong {
		display:none;
	}
	.published:after {
		margin-left:10px;
	}
	.published, .tags {
		margin-top:0;
	}
	.meta.text-right {
		text-align:left;
	}
	.meta {
		width:400px;
		margin-top:20px;
	}
	.article-image {
		width: 100%;
		margin: 80px 0;
	}
	.sample {
		padding-bottom:0;
	}
	.meta time, .published, .tags, .tags a, .meta .separator {
		display:inline-block;
	}
	#top > div.navigation-panel {
		margin-bottom: 60px !important;
	}
	.author .info {
		width: 320px;
	}
	.author .bio {
		font-size: 14px;
		line-height: 28px;
	}
	.copyright {
		margin: 0;
	}
	.copyright span {
		display: block;
	}
	.main-section {
		margin-left: 20px !important;
	}
	.hide-until-small {
		visibility: visible;
		display: block;
	}
}
@media (max-width: 480px) {
	p, ul, ol {
		margin-bottom:20px;
		font-size:13px;
		line-height:25px;
	}
	.container, .pagination {
		padding:0 6%;
	}
	.comments, footer {
		padding:60px 0;
	}
	.content {
		font-size:18px;
	}
	.navigation-panel {
		position: relative;
		margin-left: 0px !important;
		padding: 10px;
		text-align: center;
	}
	.title h1 {
		font-size:29px;
		line-height:37px;
	}
	header .container {
		padding-top:60px;
		padding-bottom:120px;
	}
	.sample .container {
		padding-top: 60px;
	}
	.published:after {
		margin-left:5px;
	}
	.published, .tags {
		display:block;
	}
	.meta .separator {
		display:none;
	}
	.article-image {
		margin:20px 0;
	}
	article h1 {
		font-size:23px;
		line-height:33px;
		margin:40px 0 20px;
	}
	article h2 {
		font-size:18px;
		line-height:28px;
		margin:20px 0 0;
	}
	article h3 {
		font-size:13px;
		line-height:23px;
		margin:15px 0;
	}
	article {
		padding:40px 0 20px;
	}
	.copyright {
		font-size:17px;
		line-height: 26px;
	}
	.title, .meta {
		width:260px;
	}
	.author .info {
		margin-left: 0;
		width: auto;
	}
	.author img {
		display: none;
	}
	.author .bio {
		font-size: 13px;
		line-height: 25px;
	}
	.main-section {
		margin-left: 10px;
		margin-top: 25px !important;
	}
	.hide {
		display: none;
		visibility: hidden;
	}
	.hide-until-small {
		visibility: visible;
		display: block;
	}
}
@media print {
	header .share {
		margin-top:30px;
	}
	header .container {
		padding-top:30px;
		padding-bottom:60px;
	}
	.meta {
		margin-top:10px;
	}
	article {
		padding:0;
	}
	.comments, footer {
		display: none;
	}
}

/*
	Fixes bootstrap
*/

body > nav.navbar.navbar-inverse {
	background-color: none !important;
	border-radius: 0px;
	margin-bottom: 0px !important; 
	border: none;
}

.fa-500px:before {
    font-family: sans-serif;
    content: "5∞";
}

.featured-post {
	color: rgba(0, 0, 0, 0.77) !important;
}

.post-meta {
	margin-top: 30px;
}

#author-container > div.post-meta > div > span {
	vertical-align: inherit !important;
}
